<% link_to_home ||= false %>

<div data-role="header">
  <% if link_to_home %>
    <a href="#home" data-icon="arrow-l" data-iconpos="left" data-inline="true">Home</a>
  <% end %>

  <h1>LAB Score Cards</h1>
</div>
